<main class="answers" *ngIf="quiz">
  <div class="container">
    <p class="pre-title">Результат прохождения теста
      <img src="/assets/img/small-arrow-light.png" alt="">
      <span class="pre-title-current" id="pre-title">
        {{ quiz.name }}
      </span>
    </p>
    <div class="answers-title">
      <h1 class="big-title"><span>Правильные ответы</span> к тесту</h1>
      <p class="username">Тест выполнил <span>{{ userInfo?.fullName }}, {{ userInfo?.email }}</span></p>
    </div>
    <div class="answers-options" id="answers-options">
      <div class="answers-option" *ngFor="let question of quiz.questions; let i = index">
        <h2 class="answer-title"><span>Вопрос {{ i + 1 }}:</span> {{ question.question }}</h2>
        <div class="answer" *ngFor="let answer of question.answers"  [class]="{right: answer.correct, wrong: answer.correct !== undefined && !answer.correct}">
          <div class="radio"></div>
          <p class="answer-text">{{ answer.answer }}</p></div>
      </div>
    </div>
    <div class="back-to-results link">
      <a id="to-result" [routerLink]="'/result'" [queryParams]="{id: testId}">Обратно к моему результату теста
        <img src="/assets/img/small-arrow.png" alt="">
      </a>
    </div>
  </div>
</main>
