@font-face {
  font-family: "Museo Sans Cyrl";
  src: url("../fonts/museosanscyrl-500.ttf");
  font-weight: 500;
}

@font-face {
  font-family: "Museo Sans Cyrl";
  src: url("../fonts/museosanscyrl-700.ttf");
  font-weight: 700;
}

@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Regular.ttf");
}
